<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<form action="/process" method="post">
    <script
    <script
        src="https://button.paymill.com/v1/"
        id="button"
        data-lang='en-GB'
        data-label="Pay with CreditCard"
        data-title="Buy our product"
        data-description="It's a great product"
        data-submit-button="Pay 2.50 EUR"
        data-amount="250"
        data-currency="EUR"
        data-public-key="233734649116d1552256303a5efb9300"
        >
    </script>
</form>
